[2017-01-29 09:04] prateekiiest opened #3 "Updated solution for Palindrome in C"
See the current PR.

[2017-02-02 14:47] prateekiiest commented on #3
Pls  review the PR #2

[2017-04-04 13:37] #3 closed

[2017-09-18 10:49] MNCODE opened #34 "not working bubbleSort"
C:\Users\Marcel\Desktop\Projekte\C-Projekte\Bubblesort_Github\cmake-build-debug\Bubblesort_Github.exe
Enter the value number 1
2
2
would you enter an other value (1:Continue/0:Sort the actual array)?
1
1
Enter the value number 2
3
3
would you enter an other value (1:Continue/0:Sort the actual array)?
1
1
Enter the value number 3
4
4
would you enter an other value (1:Continue/0:Sort the actual arra

[2017-09-21 03:56] shashikedissanayake commented on #34
I follow the steps you are given in debug mode, but i got the expected result. The algorithm is correct and it is work fine. I attach the my debug mode results within this
![image](https://user-images.githubusercontent.com/19923512/30678320-dd048ce8-9e80-11e7-900b-cc430b7d89ee.jpg)

[2017-09-21 16:51] sachinarora707 commented on #34
@MNCODE It's working fine for me as well.

[2017-09-23 19:48] #34 closed

[2017-09-28 05:27] Heshan94 opened #36 "Didnt have conversion of decimal to binary"
In conversion section, i didn't see conversions like decimal to binary, decimal to hexadecimal etc.

[2017-09-28 05:29] Heshan94 commented on #36
i would like to work on decimal to binary conversion.

[2017-09-28 05:36] AnupKumarPanwar commented on #36
Yeah sure go ahead

[2017-09-28 12:06] AnupKumarPanwar opened #37 "Add more algorithms"
Please add more algorithms to this repo.

See the structure and README of this repo for reference
https://github.com/TheAlgorithms/Python

[2017-09-28 12:33] prakamya-mishra commented on #37
I would like to contribute merge sort algorithm for hactoberfest. when should i give a pull request for   it after 1st october ?

[2017-09-28 12:36] prakamya-mishra commented on #37
Sorry I meant code for All types of Linked List not merge sort.

[2017-09-28 13:28] AnupKumarPanwar commented on #37
Yeah sure, go ahead and send pull request

[2017-09-28 13:33] prakamya-mishra commented on #37
Please look over #38

[2017-09-28 13:34] prakamya-mishra commented on #37
rest all i will send after october 1st

[2017-09-28 13:50] AnupKumarPanwar commented on #37
Merged

[2017-09-28 13:53] prakamya-mishra commented on #37
Thank you

[2017-09-28 14:25] shashikedissanayake opened #39 "Implimentation for the Trie data structure"
In the data structure section there doesn't have Trie data structure. A Trie is a special data structure used to store strings that can be visualized like a graph.That is mostly used in Search Engines, Genome Analysis, Data Analytics. So I would like to implement Trie using C.

[2017-09-28 16:41] dynamitechetan commented on #39
Sure. 🎉

[2017-09-28 17:07] shashikedissanayake commented on #39
For the testing purpose should I have to write a main method to demonstrate the implementation?

[2017-09-28 17:11] prakamya-mishra commented on #37
I have a Question:
All my pull request should reference to this issue then only will it get counted in hacktoberfest?

[2017-09-29 01:34] #39 closed

[2017-09-29 06:04] AnupKumarPanwar opened #42 "Travis CI"
Add a .travis.yml file to this repository.
Refer to this doc https://docs.travis-ci.com/user/languages/c/

[2017-09-29 07:02] ankitrgadiya commented on #42
For this first we need makefiles. I'm working on it

[2017-09-29 07:08] ankitrgadiya opened #43 "Compilation Error otherBinarySearch"
[code]
This is because pre-processor is replacing `len` with 5 in the function prototype.
https://stackoverflow.com/a/7103183

[2017-09-29 07:32] #42 closed

[2017-09-29 12:43] kartikey-singh commented on #37
Please review the new fat.c added by me (Dynamic Programming Version)

[2017-09-29 16:11] SummerSad opened #49 "Two Sort folder"
There are 2 Sort folder: Sorts and sorting.
Which one should I contribute to?

[2017-09-29 16:20] ankitrgadiya commented on #49
There are also two Search and Conversion folders

[2017-09-29 17:46] #36 closed

[2017-09-30 13:42] jebinphilipose commented on #37
Please review my PR's (#51 and #52)

[2017-10-01 06:04] vagita24 commented on #37
hi @AnupKumarPanwar
I am a begineer. I want to contribute in Algos. Can you tell me the name of algos to contribute and language to use.

[2017-10-01 06:16] prakamya-mishra commented on #37
Please review my PR's #53

[2017-10-03 08:38] AnupKumarPanwar opened #60 "2 Search folders"
There are 2 separate folders in the repo for searching algorithms. Merge them.

[2017-10-03 09:45] Yogendra0Sharma commented on #60
@AnupKumarPanwar : the Searches folder has only one file for BinarySearch algorithm and searching folder already have this file with same content.
do we directly remove the Search folder and keep searching folder as it is ? because of no need to merge both the folder.

[2017-10-03 11:04] AnupKumarPanwar commented on #60
Merged 2 sorts for sorting algorithms

[2017-10-15 17:30] AbhayGoyal opened #77 "Single linked list in ds in C"
I feel that the single linked list should be complete for anyone to see.

[2017-10-16 10:14] shivam-tripathi opened #78 "Make code more modular in nature"
Presently, each algorithm implementation requires implementation of each underlying data structure from scratch. This is a hassle, as more than often the implementations of underlying data structures increases the code size unnecessarily.
For example, while implementing graph algorithms if we have to reimplement graph ADT again it will meaningless. Instead it would be good idea to implement a head

[2017-10-24 15:19] #60 closed

[2017-10-24 15:20] #49 closed

[2017-11-09 05:33] MadhavBahlMD opened #100 "Operating system algorithms"
Operating systems related algorithms missing.

[2017-11-09 05:34] MadhavBahlMD commented on #100
If you want, i can add some algorithms to it.

[2017-11-09 05:35] #100 closed

[2017-11-09 05:35] MadhavBahlMD commented on #37
Hey.
Operating systems related algorithms are missing.
If you want, i can add some?

[2017-12-04 06:36] koseokkyu commented on #43
The compilation error of otherbinarysearch was modified in #103 with logic error.

[2017-12-19 22:43] kenshimota opened #110 "Felicitaciones"
Me gusto mucho la forma de tratar con los datos obtenidos hacia la estructura, hace un buen manejo de las pilas y las colas bueno formación en cuanto a las posibilidades de como recibir los datos me gusto tu estilo de programación en este código espero ver muy pronto otro código y aprender de vos

[2017-12-19 22:47] kenshimota commented on #78
valla no sabia eso gracias por el dato brou

[2017-12-19 22:48] kenshimota commented on #78
:) :) :D

[2017-12-23 13:27] christianbender commented on #110
@kenshimota  can you write in english, please.

[2017-12-23 13:39] #110 closed

[2017-12-23 13:42] christianbender commented on #77
@AbhayGoyal

The [linked list](https://github.com/TheAlgorithms/C/blob/master/Data%20Structures/linked_list/singly_link_list_deletion.c) is already full visible.

[2017-12-23 13:42] #77 closed

[2017-12-27 20:30] hegdenaveen1 commented on #37
Is the Project Euler Branch in this repo serious?

[2017-12-28 14:17] christianbender commented on #37
@hegdenaveen1  of course

[2018-01-01 17:42] SUBHAROOP commented on #43
i want to work on this and try to fix this

[2018-02-10 20:13] Rupeshiya commented on #37
hi
i have added sorting of linked list using selection sort and also stack implementation by using array
look after #115

[2018-03-23 11:02] marthongt opened #126 "Prime.c"
I tested it with the lowest prime number but it tells me that it's actually not one.

Adding the following to isPrime function solved the issue for me
if (x == 2)
return 1;

[2018-03-23 18:54] christianbender commented on #126
@marthongt  Thanks for bug-report. I will seen it

[2018-03-23 20:10] christianbender commented on #126
@marthongt  I fixed it.

[2018-03-23 20:10] #126 closed

[2018-04-03 17:02] #43 closed

[2018-04-22 17:17] #78 closed

[2018-08-13 04:01] maysanchez commented on #37
Hi @AnupKumarPanwar
Could you review my PR #138, please ?

[2018-09-16 17:29] jamesjallorina opened #140 "conio.h header library"
Please remove this library header as it is deprecated.

Thanks!

[2018-10-01 23:08] JRaiden16 commented on #140
where?

[2018-10-01 23:33] JRaiden16 commented on #140
I already fix it in the Simpson's_1-3rd_rule.c file. This file still needs some attention

[2018-10-01 23:41] JRaiden16 commented on #37
Did you want some algorithms in particular? I have one that searches the GCD of two numbers by using Euclid's Algorithm, and another one that uses that GCD to code a message using RSA Algorithm

[2018-10-03 20:35] deadPix3l commented on #37
are you only looking for serious algorithms that you would want to run? there are several algorithms that are mostly for joke, but are technically regarded as real algorithms.

[2018-10-30 17:34] Poulami-Sarkar opened #208 "stack,queue algorithms"

[2019-01-19 08:17] akay25 opened #214 "Consistent naming of sorting algorithms"
The naming of the sorting algorithms in the [ReadMe](https://github.com/TheAlgorithms/C/blob/master/README.md) file should be consistent.
![screenshot_20190119_134421](https://user-images.githubusercontent.com/20447174/51424195-a7a1a380-1bf0-11e9-87d5-1870fc800421.png)

[2019-01-19 15:10] akay25 commented on #214
[PR](https://github.com/TheAlgorithms/C/pull/215) has resolved this issue.

[2019-01-19 15:10] #214 closed

[2019-02-14 17:55] #208 closed

[2019-02-14 17:55] #140 closed

[2019-02-27 11:38] zphiliam opened #223 "a bug"
C/data_structures/stack.c

I think there is a bug !

the `node->next` always equal to `NULL`

[2019-03-28 04:32] Time12345 commented on #37
I think algorithms are difficult for me, I don't know how to study it.

[2019-05-06 20:29] yoyou446 commented on #37
DFS and BFS?

[2019-05-22 02:14] pytianxxiao opened #229 "core dump with trie"
i got core dump with [c/data_structures/trie.c](https://github.com/TheAlgorithms/C/blob/master/data_structures/trie/trie.c), as stack is not enough for the big array `words[NUMBER_OF_WORDS]`. Maybe `malloc` is better ?

[2019-06-07 16:08] itaikla commented on #223
You are right, node->next is always equal to NULL, but it's not a bug, the author just did not use it.
Because you actually can implement a stack with only one pointer to next node (prev or node in that case is a semantic issue), like singly linked list.

[2019-06-08 06:02] ashwek commented on #223
@zphiliam thank you for reporting the issue.
well ``node->next`` being ``NULL`` is not a bug, but due to this

https://github.com/TheAlgorithms/C/blob/b1fed3cf3e9f693a653750ec4e402a6ff75f9095/data_structures/stack.c#L111

this line becomes useless.

[2019-06-08 06:03] #223 closed

[2019-07-03 18:06] tommai78101 opened #239 "No licenses found."
May I ask if this repository is GPL? or MIT Licensed?

[2019-07-06 05:00] nikhithabhupal2000 commented on #37
Hi everyone!
I wrote the fractional knapsack and optimal merge patterns using greedy paradigm . Can I start a pull request? This is my first start to open source contribution so any suggestions would help

Thanks in advance!

[2019-07-09 08:32] megahertz66 opened #242 "Algorithms C stack, Why not free the orgin memory"
In fuction `void grow()`  On line 53. The copy element has been completed. Why not free the orgin memory.

[2019-07-10 04:48] danghai commented on #242
Could you give me the link of the file?

[2019-07-10 06:25] megahertz66 commented on #242
https://github.com/TheAlgorithms/C/blob/master/data_structures/stack/stack.c
Only `malloc` in this file and no `free`

[2019-07-10 12:10] danghai commented on #242
Hi @megahertz66 . Could you open a PR to resolve it? Thank you

[2019-07-11 07:37] megahertz66 commented on #242
Hello @danghai. The PR is ok. Please review the code.

[2019-07-15 14:19] megahertz66 commented on #242
@danghai . The PR is ok.

[2019-07-19 18:26] ttuanho opened #245 "Solutions for Project Euler should be deleted"
Publishing the solutions destroys the Project Euler's intent.
Quoted from the site:

Q: ”I learned so much solving problem XXX so is it okay to publish my solution elsewhere?”
A: “It appears that you have answered your own question. There is nothing quite like that "Aha!" moment when you finally beat a problem which you have been working on for some time. It is often through the best of intentions

[2019-07-19 18:27] ttuanho commented on #245
Link: https://projecteuler.net/

[2019-08-08 00:29] danghai opened #249 "Add more solution for Leetcode algorithm."
I create leetcode directory. You can contribute solution for Leetcode algorithm by C language.
Good practice coding :)
Please put some comment for explanation. It helps other people understand your algorithm better

[2019-09-17 17:09] harshraj22 opened #259 "Counting Sort"
The counting sort code [here](https://github.com/TheAlgorithms/C/blob/master/sorting/countingSort.c) is not well formatted. I would like to re-format it, adding useful comments and proper indentation to make it more understandable. @danghai

[2019-09-17 17:48] danghai commented on #259
Yes, sure. Thank you

[2019-09-21 18:10] shashikedissanayake commented on #229
It's working without any issues in linux environment

[2019-10-01 14:24] moinak878 opened #284 "Fibonaaci series using Dynamic Programming"
I want to contribute to this repository by adding **Fibonaaci Series using Dynamic Programming** for Hacktober 2019.

Shall i proceed ?

[2019-10-01 14:31] stepfencurryxiao commented on #284
😀Of course, we welcome everyone to contribute this repo.

[2019-10-01 16:14] #284 closed

[2019-10-02 18:58] SuranjanDaw commented on #249
Added 7.c: Integer reversal with 32-bit overflow checker  and 9.c: Pallidrome without string conversion

[2019-10-03 03:59] stepfencurryxiao commented on #239
#313

[2019-10-03 03:59] #239 closed

[2019-10-03 05:46] siddarthspai commented on #37
I would like to add scan and cscan disk scheduling algorithms

[2019-10-03 15:29] tommai78101 commented on #239
Thank you.

[2019-10-05 11:24] ZykielErx commented on #37
Hi @AnupKumarPanwar
Please look at #343 #344 #345 #346 sorting algo

[2019-10-05 14:05] shubhamdpatil commented on #249
Added Leetcode solutions for problem no: 2, 4, 7, 8, 21, 28
PR: #349

[2019-10-09 17:17] JRaiden16 opened #392 "Translation of README.md"
You think is a good idea to add translations of the README.md?
I can write the spanish version.

[2019-10-10 02:42] eamanu commented on #245
I agree.

[2019-10-10 17:24] #259 closed

[2019-10-14 13:11] viveky1794 commented on #392
This will help many students in India. Those who are not good into English.
I think I can write

[2019-10-16 14:15] Kunal614 commented on #249
Unique Number of Occurrences 1207
https://github.com/TheAlgorithms/C/pull/422

[2019-10-22 16:27] pooja795 opened #456 "Add Pigeonhole Sorting algorithm"

[2019-10-24 19:35] ismaelcostarc commented on #392
I can translate the REAME.md to brazilian portuguese.

[2019-10-28 09:25] Shreya2704 opened #487 "Shortest path"
To find the shortest path between 2 cities

[2019-11-03 20:07] ashwek commented on #242
issue resolved in PR #243

[2019-11-03 20:07] #242 closed

[2019-11-09 18:09] #229 closed

[2019-12-16 10:51] ericcurtin opened #502 "Heapsort program doesn't seem to work when you pass in an already sorted list"
Enter the size of the array you want
5
Enter numbers separated by a comma:
1,2,3,4,5
[1, 2, 5, 3, 4]

[2020-01-03 23:54] ericcurtin commented on #502
This fixes the issue:

https://github.com/TheAlgorithms/C/pull/507/files

[2020-01-04 03:21] danghai commented on #502
You can specify the issue number in commit message. It automatically is closed when it is merged.
The reference link: https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-01-04 03:21] #502 closed

[2020-01-09 13:30] VincentGogo opened #509 "the array index could be -1"
https://github.com/TheAlgorithms/C/blob/807abcd0e8b644f909452f53b422c8288d8a2554/sorting/gnome_sort.c#L9

[2020-01-13 23:59] #245 closed

[2020-02-02 15:56] sagnik-chatterjee commented on #487
Hi can i take up this issue ?
Plus any specific algortihm you have in mind ?

[2020-02-03 05:47] sagnik-chatterjee commented on #487
hi @Shreya2704  can you verify if the issue is resolved ? I have done a pull request for this ...if you find this solves your problem kindly merge it or if further additions need to be made ,please list them here.

[2020-04-10 13:25] antonbroker opened #519 "Experience"
PRINTF(“HELLO, WORLD\N”)

[2020-04-13 00:00] #519 closed

[2020-04-18 02:10] StepfenShawn commented on #509
Hi @VincentGogo !
This is gnome_sort's pseudo code：
[code]
But you said that the array index can be - 1, I don't quite understand why to do this,Could you provide the running result after modifying the code?
Thank you!

[2020-04-18 05:47] VincentGogo commented on #509
@StepfenShawn The pseudo code is right, The C code at line 9 should be
`if ( pos == 0 || numbers[pos] >= numbers[pos-1]`

[2020-04-19 01:13] StepfenShawn commented on #509
OK, I see. I'll fix it soon. Thank you!

[2020-04-19 01:13] #509 closed

[2020-04-19 04:02] lalalala12340 opened #522 "c"

[2020-04-19 11:17] #522 closed

[2020-04-22 00:41] kurnaz43 commented on #392
I can do it for Turkish

[2020-05-18 11:00] deadshotsb commented on #487
@sagnik-chatterjee Well the Djikstra's algorithm can be used to find a single source shortest path, but as "To find the shortest path between 2 cities", I find it more like applying an all pair Shortest path (floyd warshall algorithm) You may consider adding a dynamic programming approach for that, you may refer to: https://www.geeksforgeeks.org/floyd-warshall-algorithm-dp-16/

[2020-05-18 13:46] sagnik-chatterjee opened #535 "heap missing in README.md in master branch ."
Heap section is missing in the README.md of the master branch although a subdirectory already exists . Pull request #534 solves this .

[2020-05-19 05:48] #535 closed

[2020-05-20 06:23] deadshotsb commented on #535
The issue is solved by pull #534

[2020-05-20 13:29] ManavpreetSingh commented on #487
Can i take this issue ? Let me know if you have any particular choice !

[2020-05-20 23:11] plongueira commented on #487
Maybe use discrete mathematics theory for example directed graphs and weighted graphs have could solve the problem (i.e) the distance between 2 cities without a direct connection is unknown so in order to get a close reflect of the reality you could check different paths between those two cities,then adding the weights between each pair of cities from city source to destiny and that'd be all

[2020-05-24 06:11] deadshotsb commented on #487
@ManavpreetSingh Yes sure

[2020-05-30 03:02] frankstylle opened #540 "Jogo de adivinha qual número é maior"
#include <stdio.h>
main (){
    int num, num2, menor,maior;
    printf("\n----------------------------------");
    printf("\n| JOGO DO NÚMERO MAIOR OU MENOR  |");
    printf("\n----------------------------------");
    printf("\n\nDigite o número 1: ");
    scanf("%d",&num);
    printf("\nDigite o número 2: ");
    scanf("%d", &num2);
        if (num > num2)
        printf("\n\nNumero 1 é Maior q

[2020-06-06 21:34] EkanshMangal commented on #540
Olá, posso resolver esse problema?

[2020-06-23 12:27] omonimus1 commented on #392
I can translate in Italian

[2020-06-27 19:26] pavel-khart opened #549 "a-1"

[2020-06-27 19:50] ayaankhan98 commented on #549
could you provide some context about opening this issue?

[2020-06-27 20:14] #549 closed

[2020-06-28 17:19] kvedala opened #550 "[BUG] Poor code quality"
[LGTM](https://https://lgtm.com/projects/g/TheAlgorithms/C/?mode=tree)
has given a standard of [![Language grade: C/C++](https://img.shields.io/lgtm/grade/cpp/g/TheAlgorithms/C.svg?logo=lgtm&logoWidth=18)](https://lgtm.com/projects/g/TheAlgorithms/C/context:cpp) for the code in the repository. Let us work on making it "A" grade code.

[2020-06-28 20:57] kvedala commented on #550
@ayaankhan98 @deadshotsb @StepfenShawn

[2020-07-06 17:49] enqidu opened #560 "Skip List[FEATURE]"
## Detailed Description

I can't find Skip List implementation

## Context

## Possible Implementation

I can contribute if it's possible

[2020-07-06 18:35] #560 closed

[2020-07-07 11:27] vakhokoto opened #561 "[FEATURE] Segment tree"
I can't find segment tree implementation on the repository so I will write that.
## Detailed Description
You can find detailed description on those links:
English: https://www.geeksforgeeks.org/segment-tree-set-1-sum-of-given-range/
Russian: https://e-maxx.ru/algo/segment_tree
## Context
Context in which this data structure can be used is when answers on huge query segment is needed and also this

[2020-07-08 18:03] #550 closed

[2020-07-12 08:10] bayegy opened #566 "the getMax function in binary search tree may not work correctly"
Hi there,
I am learning data structure. it's really helpful to find such a excellent project. Thanks for the excellent work.

However, I found this code may not work correctly.
https://github.com/TheAlgorithms/C/blob/08415b0f165d73f8cdf5443d2183b2b73b748650/data_structures/binary_trees/binary_search_tree.c#L65

let's say we have a tree like this
`   node *root = NULL;`
`   root = insert(root, 100)

[2020-07-12 23:42] kvedala commented on #566
There is an active pull-request in C++ for this file https://github.com/TheAlgorithms/C-Plus-Plus/pull/891
It would be very helpful if you can weigh in on both of them.
Thank you for pointing out the possible error.

[2020-07-13 00:40] kvedala commented on #566
@liushubin-gitHub it would be great if you can take a look here as well. Thank you.
(PS: The static code checks are not so stringent here as C is a more primitive language than C++ 😄 )

[2020-07-13 01:56] liushubin-gitHub commented on #566
@kvedala @bayegy i think so.

[2020-07-15 06:25] bayegy commented on #566
@kvedala
Hi, I am not sure if this will answer your question.
But I think the implementation of function findMaxInLeftST() in [binary_search_tree.cpp](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/data_structures/binary_search_tree.cpp) is correct. it works fine.

I did not read the "active pull-request" thoroughly, but I have tested the function Remove() in [binary_search_tree.cpp](htt

[2020-07-15 08:10] liushubin-gitHub commented on #566
LGTM.+1
i have fixed it.segment fault is because null pointer check missing

[2020-07-15 12:11] kvedala commented on #566
Thank you, @liushubin-gitHub
@bayegy please feel free to create a pull-request with your suggested fixes. Along with the fixes, please update the code with structure and formatting as the other files [like this](https://github.com/TheAlgorithms/C/blob/master/numerical_methods/durand_kerner_roots.c) in the repo. Thank you 😄

[2020-07-19 01:34] StepfenShawn opened #572 "client_server don't support windows"

[2020-07-19 21:32] kvedala opened #576 "[BUG] multikey_quick_sort.c - erroneous"
erroneous code sequences

## Description

* line# 259 -> while loop has invalid termination condition because pp variable is not initialized and garbage value.

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2020-07-19 21:43] kvedala commented on #572
`backtracking:: graphColoring` is defined on line 55
1. the first parameter is a `const std::array<std::array <bool, V>, 81>`. Is this the same datatype of graph on line 105?
2. the parameter `color` is expected to be `int*`. is this the same datatype on line 105?

[2020-07-20 08:05] Ruhcit opened #578 "[BUG]"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2020-07-20 09:54] #578 closed

[2020-07-21 23:06] kvedala commented on #566
@bayegy can you review the PR #579  Thanks.

[2020-07-22 00:50] bayegy commented on #566
@kvedala yes, I have reviewed the PR. looks good to me

[2020-07-22 02:59] #572 closed

[2020-07-22 12:37] #566 closed

[2020-07-27 06:44] Mansoorali8055 opened #582 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2020-07-27 06:45] #582 closed

[2020-08-26 23:49] kvedala commented on #249
This is an excellent collection 👍

Can you please convert the codes to independent executable programs with documentation in sync with the rest of the repo? Thanks

[2020-08-26 23:50] kvedala commented on #37
Closing this issue as it seems outdated.

[2020-08-26 23:50] #37 closed

[2020-09-09 16:50] #561 closed

[2020-09-10 03:30] Panquesito7 commented on #576
Wasn't this fixed in #601?

[2020-09-18 17:38] kvedala commented on #576
Yes. Forgot to link the PR. Thanks for reminder.

[2020-09-18 17:38] #576 closed

[2020-09-27 22:05] kudoabhijeet opened #609 "[BUG]: No contributing guidelines in the repository"
## Description
CONTRIBUTIONS.MD  redirects to a not found page.

## Expected Behavior

Should redirect to a markdown file. CONTRIBUTIONS.MD
## Actual Behavior

CONTRIBUTIONS.MD not exists, redirects to 404 not found.
## Possible Fix

Adding/creating a CONTRIBUTIONS.MD file.
## Steps to Reproduce

1. https://github.com/TheAlgorithms/C/blob/master/CONTRIBUTING.md -  404 page

## Context

Can't acces

[2020-09-27 22:08] Panquesito7 commented on #609
There is no `CONTRIBUTING.md` in this repository.
I think we shall look into adding it in the repository.

@kvedala what's your opinion about this? 🙂

[2020-09-30 04:02] harshcut commented on #609
Issuing separate PRs for different types of commits might help, as there may be some changes that some like but not others.

[2020-09-30 19:40] #609 closed

[2020-10-01 05:06] devraj4522 commented on #392
If anyone help I can translate in Hindi

[2020-10-01 14:23] kvedala commented on #392
👍  Sure. We also have an online documentation website the https://thealgorithms.github.io/C on which this can render well.
The other option is to simple add a header for google translate. Then, the whole website can be translated for any of the supported languages. It does have the drawback that the translations are not always guaranteed to be correct.

[2020-10-01 17:41] dynamitechetan opened #633 "Hacktoberfest 2020 - Implement C algorithms or data structures, fix existing ones and more!"
The annual [Hacktoberfest](https://hacktoberfest.digitalocean.com/) is around the corner! Register on [Hacktoberfest's website](https://hacktoberfest.digitalocean.com/) and open 4 pull requests during October 2020 to receive the swags (if you're the first 70,000 participants)!

In our C repository, there are currently several open issues:

What's more, you can also **fix an existing bugs, improve

[2020-10-06 04:16] frankstylle commented on #540
Ok

[2020-10-12 19:18] #540 closed

[2020-10-19 16:53] addy1997 opened #686 "[BUG] Catalan program doesn't work"

[2020-10-19 17:08] vicpb commented on #392
I can help you!

[2020-10-19 23:55] #392 closed

[2020-10-22 11:10] BhanukaC commented on #249
#703

[2020-10-22 11:10] BhanukaC commented on #249
Add LeetCode Problem 1486 using C #703

[2020-10-22 11:12] BhanukaC commented on #249
Add LeetCode Problem 1486 using C #703

[2020-10-22 11:14] BhanukaC commented on #249
Add LeetCode Problem 1486 using C #703

[2020-10-22 11:15] BhanukaC commented on #249
LeetCode 961 Problem Using C #702

[2020-10-22 11:15] BhanukaC commented on #249
Create 1295.c #701

[2020-10-24 06:58] Suraj-Patro opened #713 "Logical Error Fixed"
## Description

Bug fixed in conversions/c_atoi_str_to_integer.c & formatting
Logical error fixed in conversions/c_atoi_str_to_integer.c

## Expected Behavior

Should succesfully pass all assertions

## Actual Behavior

Fails to pass all assertions.

## Possible Fix

[code]

## Steps to Reproduce

Compile & Execute Code.

## Context

Failed to assert all the checks.

@Suraj-Patro
https://github.co

[2020-10-24 07:47] garimamangal19 opened #714 "[FEATURE] Adding Cycle detection in linked list code"
## Detailed Description

## Context

## Possible Implementation

[2020-10-26 04:33] Panquesito7 commented on #714
Please describe as much as possible about this algorithm. Thank you.

[2020-10-26 04:36] Panquesito7 commented on #713
Please create a PR and we'll review it. Thank you. 🙂

[2020-10-29 12:02] devraj4522 opened #729 "[BUG] Unhandled Exception in Tic-tack-toe-game"
Tick-Tack-Toe game is not working for exception part
## Description

Else part on line 247 takes you to infinite loop on getting any char value as input for position.

## Expected Behavior

It should give the option to enter value again

## Actual Behavior

Infite Loop with print value - Invalid value

[2020-10-29 15:34] 123mansha commented on #729
hii want to work on this issue please tell me the error and assign it to me

[2020-10-29 16:05] hero4127 commented on #729
Hi want to work with this issue please assign it to as I have much experience in C program and I have excellent logic developed.

[2020-10-29 17:47] Panquesito7 commented on #729
Please don't ask to be assigned. See the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor).
If you want to help with this, submit a PR and maintainers will review it.

Thank you. 🙂

[2020-10-30 03:53] #713 closed

[2020-10-30 16:05] Suraj-Patro opened #739 "[BUG] Logical error fixed in conversions/c_atoi_str_to_integer.c"
## Description

## Expected Behavior

Program should pass all the assertions.

## Actual Behavior

Program failed to pass all the assertions.

## Possible Fix

Improve the logic of the prgram to fix the error.

## Steps to Reproduce

just compile and execute the program as it is.

## Context

[2020-10-30 18:02] Suraj-Patro opened #758 "[BUG] Added limits.h in data_structures/heap/max_heap.c"
## Description

bug fixed added limits.h at data_structures/heap/max_heap.c

## Expected Behavior

code should compileand execute

## Actual Behavior

Code throws error on execution

## Possible Fix

include limits.h

## Steps to Reproduce

compile and execute the code

## Context

[2020-10-30 18:10] Suraj-Patro opened #760 "[BUG] Added limits.h in data_structures/heap/min_heap.c"
## Description

bug fixed added limits.h at data_structures/heap/min_heap.c

## Expected Behavior

code should compileand execute

## Actual Behavior

Code throws error on execution

## Possible Fix

include limits.h

## Steps to Reproduce

compile and execute the code

## Context

[2020-10-30 18:14] Suraj-Patro opened #761 "[BUG] Fixed error relating importing of Header file at data_structures/array/carray_tests.c"
## Description

Fixed error relating importing of Header file at data_structures/array/carray_tests.c

## Expected Behavior

code should compile and execute

## Actual Behavior

code throughs error on compilation

## Possible Fix

include the custom header file with proper name

## Steps to Reproduce

compile and execute

## Context

[2020-10-30 18:16] Suraj-Patro opened #762 "[BUG] Fixed error relating importing of Header file at data_structures/array/carray.c"
## Description

Fixed error relating importing of Header file at data_structures/array/carray.c

## Expected Behavior

code should compile and execute

## Actual Behavior

code throughs error on compilation

## Possible Fix

include the custom header file with proper name

## Steps to Reproduce

compile and execute

## Context

[2020-10-30 18:19] Suraj-Patro opened #763 "[BUG] docs: Filename documented at data_structures/array/carray.h"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

fix Documnetation.

## Context

[2020-10-30 18:22] Suraj-Patro opened #764 "[BUG] Fix filenames at data_structures/array/README.md"
## Description

Fix filenames at data_structures/array/README.md

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

fix Documentation

## Context

[2020-10-30 18:42] Suraj-Patro opened #767 "[BUG] Added stdlib.h"
## Description

Added stdlib.h at data_structures/linked_list/singly_link_list_deletion.c

## Expected Behavior

code should compile

## Actual Behavior

functons definition not known exception

## Possible Fix

## Steps to Reproduce

include stdlib.h

## Context

[2020-10-31 20:29] itsvinayak commented on #249
hey @danghai, how to add an alternate algorithm for the same question, should it be added to the same file or by creating another file, what should be the syntax for naming file?

thank you,
@itsvinayak

[2020-11-04 18:16] kana800 commented on #729
@Panquesito7  I fixed the bugs 😄

[2020-11-26 11:51] kvedala commented on #249
[Contribution Guidelines](https://github.com/TheAlgorithms/C/blob/master/CONTRIBUTING.md)
Meanwhile, the Leetcode folder is currently unstructured and there is an effort to normalize the folder with respect to the repo #733

[2020-12-12 14:56] Vishal140 opened #777 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2020-12-14 20:20] #777 closed

[2021-01-10 13:25] jaguar-kannan commented on #767
iam intrested can i do this

[2021-01-10 19:04] Panquesito7 commented on #767
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-01-14 11:04] RavishankarreddyB commented on #762
Hi @Suraj-Patro , I'm interested in fixing this.
I've few questions -

- I'm getting a warning (**not error**) when trying to compile the carray.c file regarding the name of the header file. Are you referring to that or some other thing ?

[code]

- Same question for the carray_tests.c file as well.

[2021-01-20 05:38] Anu-shree05 opened #781 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2021-01-20 18:58] #781 closed

[2021-01-24 13:46] Suraj-Patro commented on #762
Same here.
It does generate a warning.
On execution, it results into a runtime error. because of the mis-spelled file name.

[2021-01-24 13:50] RavishankarreddyB commented on #762
@Suraj-Patro , So is the fix just changing to proper file name or anything else ?

[2021-01-25 02:44] Suraj-Patro commented on #762
Its about changing code of the header file included at the "#include preprocessor directive" in the data_structures/array/carray.c
pertaining to the mis-spelled file name "CArray.h" to "carray.h".

[2021-02-01 09:49] jamesjim908 opened #784 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2021-02-01 19:00] #784 closed

[2021-02-03 17:29] CarlosZoft opened #794 "[BUG] Problems with tests (pull request) on windows"
## Description

Looking at some pull requests, I noticed that many people are having the same problem when it comes to automatic testing, more specifically on Windows.

## Expected Behavior

I believe that most tests are in accordance with the guidelines and should pass the tests on windows as well.
## Actual Behavior

![image](https://user-images.githubusercontent.com/62192072/106782492-faf4bc00-

[2021-02-05 19:50] #794 closed

[2021-02-06 07:25] Akash-Tandale001 commented on #686
I am interested in  this program can I help you in finding bug...?

[2021-02-06 09:23] addy1997 commented on #686
go for it

[2021-02-07 07:21] brainengineerX opened #798 "[FEATURE]"conversions" add hexadecimal to float / double"
recently ,my project need to observing some floating-point numbers in the memory, but the %f in the printf function is not implemented, which makes me very distressed. I barely use integers to print floating-point numbers, but it does not perfectly support negative floating-point numbers.Because my program uses the serial port to print logs, I need to convert the entire memory to a floating point

[2021-02-07 15:40] bhavdeep009 commented on #714
are you looking for the code which detects cycle in link list?

[2021-02-07 21:54] Naderramadan opened #799 "Nader"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix
<!--- Not obligatory, but suggest a fix or reason for the bug --

[2021-02-08 16:56] #799 closed

[2021-02-08 16:59] Panquesito7 commented on #714
You haven't filled the template: it doesn't have description (not even detailed), context or possible implementation.
Please fill the template how does this algorithm work (or at least a description), context and possible implementation.

Thank you.

[2021-02-08 18:19] Panquesito7 commented on #686
@addy1997 please don't remove the issue template provided, re-fill it again please. Thank you.

[2021-02-08 18:21] real68 commented on #686
Ok

Il lun 8 feb 2021, 19:19 David Leal <notifications@github.com> ha scritto:

[2021-02-08 20:25] addy1997 commented on #686
I have not removed anything.

On Mon, Feb 8, 2021 at 11:49 PM David Leal <notifications@github.com> wrote:

--
Adwait <https://www.linkedin.com/in/adwait-naik-86586514a/>
Adwait <https://github.com/addy1997>

[2021-02-08 20:30] Panquesito7 commented on #686
Please read my comment carefully https://github.com/TheAlgorithms/C/issues/686#issuecomment-775344715.

[2021-02-09 04:36] north8side commented on #729
Good work

[2021-02-09 04:43] north8side commented on #729
C++ is not the best for it's function needs more

[2021-02-09 13:19] Disa1926 opened #800 "Bubble_Sort"

[2021-02-09 13:19] #800 closed

[2021-02-10 14:02] #729 closed

[2021-02-11 04:57] #633 closed

[2021-02-11 22:23] Panquesito7 commented on #633
@ayaankhan98 was it intentional to close this issue?

[2021-02-12 04:33] ayaankhan98 commented on #633
Not closed this manually, this is triggered by last merge. Moreover hacktoberfest is over so it's fine to close this now.

[2021-02-12 17:58] BugGGGGer opened #801 "Mount"

[2021-02-12 18:06] #801 closed

[2021-02-12 23:12] ankitakul commented on #714
Hello, is this issue still open?  I have a project for a software methodology class to contribute to an open source repo and I would like to work on this project. Could I be assigned to this issue?

Possible implementation: I was thinking of using 2 pointers, slow and fast. Slow pointer will move one step forward and fast pointer will move 2 steps forward. If they are pointing to same node, we kno

[2021-02-13 01:51] Panquesito7 commented on #714
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-02-17 11:40] #686 closed

[2021-02-17 12:05] DhruvPasricha commented on #249
Hi @danghai, I would like to work on this issue,.
Can i contribute by adding some solutions ?

[2021-02-18 02:42] Panquesito7 commented on #249
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-02-23 07:55] SInisterChil commented on #767
Can I do this?

[2021-02-24 05:52] Panquesito7 commented on #767
Sure; please read my message above. Thank you.

[2021-03-11 09:28] mainak-debnath commented on #758
I would like to take care of this issue.

[2021-03-12 18:55] Panquesito7 commented on #758
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-03-13 04:35] #758 closed

[2021-03-13 04:37] #767 closed

[2021-03-13 04:37] #764 closed

[2021-03-13 04:37] #763 closed

[2021-03-13 04:37] #762 closed

[2021-03-13 04:37] #761 closed

[2021-03-13 04:38] #760 closed

[2021-03-13 04:38] #739 closed

[2021-03-17 06:08] BoJackem23 opened #814 "[BUG]"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2021-03-17 06:11] #814 closed

[2021-03-17 15:45] ankitakul commented on #714
Hello, My code is ready. I made sure its not duplicate and according to standards.  I am new to github and  I am having issues pushing the code. It is saying invalid username and password , authentication failed for github/TheAlgorithms/C.git.
Is it because I am not assigned the issues?  Can you please assign it to me.

[2021-03-17 16:40] ayaankhan98 commented on #714
No it has no relation with issue assignment. It is because of your improper login configuration for Github CLI.

[2021-03-19 00:01] ankitakul commented on #714
![Capture](https://user-images.githubusercontent.com/47610108/111711941-1b688680-8823-11eb-9613-d663c0feafeb.PNG)

I am getting this error now.

[2021-03-19 00:11] Panquesito7 commented on #714
You must [fork](https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/cloning-and-forking-repositories-from-github-desktop#forking-a-repository) the repository, then clone your forked repository. 🙂

[2021-03-19 01:29] ankitakul commented on #714
I was able to create a pull request after forking the repository. Thank you very much for your support!!  😊

[2021-03-19 11:59] anishsingh935 commented on #798
Hi I can solve this problem, can I contribute

[2021-03-19 13:21] KirwinD commented on #798
Good luck. You got it

[2021-03-19 16:44] Panquesito7 commented on #798
Thank you for your interest in contributing, folks!
Before submitting a PR, please ensure the following:

* The algorithm or your changes aren't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pas

[2021-03-19 17:02] anishsingh935 commented on #798
please review my pull request I have recently implemented and please suggest me if there is any mistake

[2021-03-25 08:41] BoJackem23 opened #819 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2021-03-25 15:38] #819 closed

[2021-04-08 13:14] UG-SEP opened #825 "Wanted to add infix to postfix conversion program using stack in c"
Hey,
I saw there is no program related to infix to postfix conversion program can i add
Example
Input: a+b * c
Output: abc * +
Please assign me
Thanks

[2021-04-08 19:54] Panquesito7 commented on #825
There's already an [Infix to Postfix](https://github.com/TheAlgorithms/C/blob/master/conversions/infix_to_postfix.c) algorithm here. You can create a Postfix to Infix algorithm, though. 🙂

[2021-04-09 09:13] #825 closed

[2021-04-09 09:19] UG-SEP opened #826 "Wanted to add Paint App in C language"
Hey,
I have cool project Paint With UG a Desktop application so can i add my project.
[Project Link](https://github.com/UG-SEP/Paint-with-UG-The-SEP)
[code]
Thanks

[2021-04-09 18:01] Panquesito7 commented on #826
I'm not so sure if this is suitable for this repository. By the way,
you should make an issue in the [C++](https://github.com/TheAlgorithms/C-Plus-Plus), as your app is written in C++.

@ayaankhan98 @cclauss, thoughts?

[2021-04-09 18:43] ayaankhan98 commented on #826
I will not prefer to integrate projects within algorithms repository.
By the way we can create separate repository within the organisation for beginners project (educational purpose), then these things can be added in that repository.

[2021-04-09 18:47] UG-SEP commented on #826
yes you are right

[2021-04-09 18:58] Panquesito7 commented on #826
@AnupKumarPanwar?

[2021-04-09 20:11] UG-SEP commented on #826
Please invite to the community

[2021-04-09 20:18] cclauss commented on #826
Unfortunately, it is not an algorithm.

[2021-04-09 20:18] #826 closed

[2021-04-16 03:07] Ljfgame opened #827 "[BUG]"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2021-04-16 16:46] #827 closed

[2021-04-19 06:43] DugzaevAbdullah7 opened #828 "[BUG]"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2021-04-21 17:00] #828 closed

[2021-04-28 06:59] Yangqing-666 opened #829 "yang"

[2021-04-28 16:59] #829 closed

[2021-05-19 16:09] imeetpatel47 opened #831 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2021-05-19 18:03] #831 closed

[2021-06-26 16:24] SUNAINADJ opened #837 "[BUG]"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2021-06-27 00:03] #837 closed

[2021-06-30 11:01] DugzaevAbdullah7 commented on #828
?

[2021-08-02 19:09] Arjun-Dagar commented on #714
Can i work on it?

[2021-08-05 16:50] Panquesito7 commented on #714
Sure, if you want. I'll review your PR as soon as possible. 🙂
Just follow the steps mentioned in this issue above [**here**](https://github.com/TheAlgorithms/C/issues/714#issuecomment-778542952).

[2021-08-20 08:26] Dezx20 commented on #249
Hi @danghai  im new into this and i would love to contribute in this sections. can u help me with how i can get started, Please?

[2021-08-25 02:33] subski opened #850 "[BUG] read access violation when using developer_tools/malloc_dbg"
### Description

When using malloc_dbg.h to keep track of memory allocations, the program throw a `read access violation. tmp was nullptr.`  in file `malloc_dbg.c` at line :
https://github.com/TheAlgorithms/C/blob/cc241f58c253c533ac94e07151ef91a5ef7e5719/developer_tools/malloc_dbg.c#L215

when calling malloc _dbg inside a loop.

This issue is happening because of the [malloc_debug ](https://github

[2021-08-27 04:11] NVombat opened #852 "Adding Half Duplex & Full Duplex TCP Client Server Code"
### Detailed description

A TCP Client and Server which can communicate bidirectionally but only one at a time to simulate Half Duplex Communication, and TCP Client and Server which can communicate bidirectionally simultaneously using the fork() system call which allows the client and server to receive and send messages at the same time simulating Full Duplex Communication.

### Context

It helps

[2021-08-31 06:18] AryanNayak commented on #249
Hey, can I contribute to this? I have solved 800+ questions on Leetcode.

[2021-09-01 03:08] Panquesito7 commented on #249
Woah, amazing! Of course, you can! Feel free to make PRs, and we'll review them. 🙂

[2021-09-07 15:54] #852 closed

[2021-09-19 12:23] manojg01 opened #857 "C++"

[2021-09-19 12:36] #857 closed

[2021-09-27 15:03] shrinukushagra619 opened #859 "My C Programs"

[2021-09-27 15:05] #859 closed

[2021-10-01 03:57] Ayan-thecodeking commented on #249
I also want to add some leetcode questions ...as I have practiced a lot
Pls assign it to me under hacktoberfest

[2021-10-02 12:52] AyushSingh-github commented on #249
hello. i just added my 4 leetcode solutions for binary tree transversals. please see my pull request.

[2021-10-04 11:03] HybridDog commented on #487
In practice, e.g. in a car navigation system, the graph is preprocessed so that the distance between two cities can later be queried in e.g. O(sqrt(n) log(n)), which is a lot faster than Dijkstra's algorithm (excluding the preprocessing time).
https://en.wikipedia.org/wiki/Contraction_hierarchies

[2021-10-07 04:35] VidhiBhatt01 opened #870 "Code to reverse a linked list in C"
### What would you like to share?

I would like to contribute to this repo by adding the code for reversing a linked list in C language. Please assign this issue to me under Hacktoberfest.

[2021-10-15 17:19] appgurueu opened #887 "[BUG] Sentinel search contains length comparison"
### Description

See https://github.com/TheAlgorithms/C/commit/3cfdbb040db7e905b7074340196ddd23ee64fae6#r58105657 - the point of sentinel search is literally to remove that comparison

### Expected behavior

No comparison

### Actual behavior

One comparison

### Possible fix

Remove the `if` statement and the contained `break`

### Steps to reproduce

None

### Context

None

### Additional infor

[2021-10-17 00:28] #887 closed, assigned to nobody

[2021-10-22 14:46] straight-into-the-wall opened #898 "Awesome CI Workflow Code formater: "2 files are not in one and only one directory" but they are in separate branches."
Hey @Panquesito7 @kvedala,

On my fork's Github Actions I got this error from Awesome CI Workflow Code formatter; even if I separated the two files into two different commits.

[code]

Any idea how I could fix it?

Thanx

![awesome_error](https://user-images.githubusercontent.com/92807553/138473882-113e4fa9-0ca8-4b21-8ef0-aaa8835df8aa.png)

_Originally posted by @straight-into-the-wall in https://

[2021-10-24 00:12] #714 closed

[2021-10-25 19:27] #898 closed, assigned to nobody

[2021-10-31 07:44] vaibhavpandey0 commented on #870
This is my first time to contribute on open source could you pleaseassign this to me.As i wanted to learn and explore.

[2021-11-06 19:06] adammaj1 opened #918 "[BUG] CMakeFiles/spirograph.dir/flags.make: Nie ma takiego pliku ani katalogu"
### Description

Hi,

I try to compile the code

[code]

### Expected behavior

compil

### Actual behavior

failed compilation

### Possible fix

_No response_

### Steps to reproduce

cmake -B build -S .
make

### Context

simple compilation

### Additional information

_No response_

[2021-11-07 22:54] Panquesito7 commented on #918
Could you please change your language to English so I can understand the errors provided? Thank you. 🙂

[2021-11-08 13:58] adammaj1 commented on #918
[code]

[2021-11-08 14:12] #870 closed

[2021-11-09 21:03] adammaj1 commented on #918
[code]

[2021-11-09 21:19] adammaj1 commented on #918
[code]

[2021-12-18 00:13] #487 closed

[2022-01-13 16:38] ybrenning opened #932 "[BUG] Function updateValueCArray() does nothing"
### Description

The function `updateValueCArray()` in the implementation of arrays does not update anything.
Upon checking for a correct index in line 99, the function does not actually update the value at the given index. The function will return `INVALID_POSITION` if the element at the given position is not equal to zero instead of updating the value at the given index. I would like to fix this

[2022-01-15 15:00] #932 closed

[2022-01-17 16:12] ybrenning opened #934 "[FEATURE] Add `reverse()` function to doubly_linked_list.c"
### Detailed description

Add a simple function `reverse()` to reverse a given doubly linked list.

### Context

It is a very common algorithm for linked lists and is quite easy to implement for doubly linked lists especially.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-01-20 00:14] #918 closed

[2022-01-22 15:49] ybrenning opened #936 "[FEATURE] Add iterative DFS implementation for Graphs"
### Detailed description

The Graph-DFS implementation in `dfs.c` uses recursion, I would like to also add a function to `dfs.c` which performs an iterative DFS.

### Context

I think it would make sense to also have a function in `dfs.c` with an iterative approach to depth-first search by using a simple stack data structure. I think it can make DFS easier to understand for some people and it's us

[2022-01-26 00:14] #249 closed

[2022-01-27 18:23] rgarrettrun commented on #934
Hello, I would like to work on this issue.

[2022-01-27 23:56] ybrenning commented on #934
Hey, I have already resolved this issue in PR #935 , it is just waiting on approval

[2022-03-07 00:18] #934 closed

[2022-03-26 06:07] nieyuyao opened #942 "[BUG] Failed to execute cmake at client_server directory."
### Description

An error is occurred when i execute `cmake .` at `client_server` directory.

[code]

### Expected behavior

Generate makefile successfully

### Actual behavior

Failed to generate makefile

### Possible fix

_No response_

### Steps to reproduce

1. `cd client_server`
2. `cmake .`

### Context

I was trying to understand the implementation of tcp and udp server

### Additional inf

[2022-03-26 06:09] nieyuyao commented on #942
Executed successfully when i add `include(CheckIncludeFile)` to `client_server/CMakeLists`.

[code]

[2022-03-31 03:37] chent11 opened #943 "[BUG] Cannot compile with ARM-Cortex processors"
### Description

When an ARM GCC compiles the code below,

[code]

it will complain about the lacking of "arm_math.h" file. Because this is not a standard C math library, you need to add the CMSIS-DSP library to your project and tell the compiler to link it so that it can be compiled.

### Expected behavior

No errors would prompt

### Actual behavior

fatal error: arm_math.h: No such file or dire

[2022-04-01 01:56] #936 closed

[2022-04-01 01:57] #850 closed

[2022-04-24 17:48] mucahitdemir commented on #943
If you use ST CubeMx IDE, in the Project section, select _include all the necessary library files_ option

[2022-04-24 17:49] mucahitdemir commented on #942
I would also advise the same way you did.

[2022-08-24 21:48] ybrenning opened #956 "[FEATURE] Update "list" implementation"
### Detailed description

I would like to overhaul the implementation in `list.c` as it currently seems to be implementing some kind of abstract version of a stack data structure. I would propose to change this to a kind of dynamic array, similar to how the `list` data type is used in Python or the `ArrayList` in Java.

I would also like to add some improved documentation in accordance with [CONTR

[2022-09-08 00:22] Panquesito7 opened #960 "[BUG] Fix LGTM/CodeQL alerts"
### Description

There are 10+ CodeQL alerts on the whole repository. This should be fixed immediately.

### Expected behavior

CodeQL/LGTM alerts should be fixed.

### Actual behavior

We have 10+ CodeQL/LGTM alerts.

### Possible fix

_No response_

### Steps to reproduce

Not applicable here, IMO.

### Context

This makes our code less elegant and professional. We should try to use the best cod

[2022-09-19 05:46] Kim8178184977 commented on #960
is there any one working on it

[2022-09-19 13:31] Panquesito7 commented on #960
Nope, not currently. Do you wanna work on this? 🙂

[2022-09-20 01:36] Kim8178184977 commented on #960
sure I will try My best sir 😊

[2022-09-20 18:06] Panquesito7 commented on #960
Cool, thank you! Let us know if you need any help.

[2022-09-21 00:54] Kim8178184977 commented on #960
sir, i can't find the repository can you give me the name of it

[2022-09-21 14:50] Panquesito7 commented on #960
Here you can see all the alerts/warnings: https://lgtm.com/projects/g/TheAlgorithms/C/context:cpp

[2022-09-25 04:33] Panquesito7 commented on #956
Thanks for your interest in contributing! 🚀
Would you like to work on all of that? 😃

Let us know if you need any help. Thank you.

[2022-09-25 13:36] ybrenning commented on #956
Sure, I would like to work on that :)

[2022-09-30 14:20] anindyasen opened #967 "[FEATURE]Hangman - The classic word guessing game"
### Detailed description

Implementation of the popular hangman game in C as a part of games in the repository. Hangman is word guessing game where the program will randomly pick a word from a word pool and represent it's letter in dashes"_ _ _". Now the user has to guess the right word within a particular number of chances.

### Context

This Hangman game is a good example of user-define data str

[2022-09-30 21:06] palaniappan-r commented on #967
Hi, Can I take this?

[2022-10-01 07:11] anindyasen commented on #967
Hi @palaniappan-r I am planning to work on this issue. I raise this bug to get maintainers/reviewers opinion on if this idea can be merged in C/games folder.
Thank you,

[2022-10-01 16:58] zugzwang03 opened #974 "Add "maximum consecutive ones""
### Detailed description

I want to add the solution of "maximum consecutive ones" in the leetcode directory.
I want to make this contribution under hacktoberfest'22.
Question link : https://leetcode.com/problems/max-consecutive-ones/

### Context

The number of questions covered in leetcode directory is low. So the addition of one more would benefit any way.
Otherwise also, Maximum consecutive on

[2022-10-02 14:25] devarshitrivedi01 commented on #974
can I work on this?

[2022-10-03 05:28] Panquesito7 commented on #943
CC: @TheAlgorithms/c_maintainer

[2022-10-03 05:35] Panquesito7 commented on #967
Great explanation. Feel free to work on it. 🚀
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2022-10-04 03:05] deoliaman00 opened #987 "In C/data_structures/linked_list/ The algorithms present are missing Imp pattern topics of Linked List."
### Detailed description

While working with Linked List DS , the beginner needs to learn topic Like:-
1. How to reverse a linked list
2. Check a loop inside a linked list
3. Check the given linked list is pallindrome or not.

### Context

These topics help the beginner to get hands on with strong foundation.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-04 03:06] deoliaman00 commented on #987
Kindly assign me this issue and I am willing to help asap.

[2022-10-05 06:56] Appy-007 commented on #974
@zugzwang03 can I work on the issue?

[2022-10-05 16:22] Shubhamsingh2747 commented on #987
Hey, kindly assign me this issue. I can provide C++ code.

[2022-10-06 17:50] JKP0495 commented on #987
please assign this to me, i can provide c code in very short time

[2022-10-06 18:16] JKP0495 commented on #974
please assign this to me, i will do it in a day...

[2022-10-06 18:25] JKP0495 commented on #967
please assign this to me, i will do it in a day...please, i am good at making this type of games

[2022-10-07 15:17] anjisnu07 commented on #987
Hey buddy, assign me for this..

[2022-10-07 16:22] SrijaMarripelli commented on #987
@deoliaman00 please assign this to me

[2022-10-08 16:07] rnavaneeth992 opened #1011 "I want to add C programs"
### What would you like to share?

The things I want to add
1) Infix to Postfix

### Additional information

_No response_

[2022-10-08 16:07] rnavaneeth992 commented on #1011
Can you please assign

[2022-10-08 16:09] rnavaneeth992 opened #1012 "I want to add Leetcode programs"
### What would you like to share?

2427. Number of Common Factors
2428. Maximum Sum of an Hourglass

### Additional information

_No response_

[2022-10-08 16:09] rnavaneeth992 commented on #1012
Can you please assign me

[2022-10-08 17:10] Prathamrajbhatt commented on #1011
Hey! Can you please assign me this issue?

[2022-10-08 17:16] Prathamrajbhatt commented on #974
Hey! Can you assign this issue to me?

[2022-10-08 17:16] ankpal145 commented on #974
Can you please assign this issue to me? I can submit it in 4 hour.

[2022-10-08 17:28] zugzwang03 commented on #974
With great sorrow, I need to say that the project admin of this project is inactive as can be seen. I created that issue to be self-assigned, but since it has been left just like that for 7 long days, so I am closing it. Probably this repo is not participating in hacktoberfest this year.

[2022-10-08 17:28] #974 closed

[2022-10-09 09:42] SohamPashteSSP commented on #987
Hello, please assign me this, I can provide solution for in C language for reversing a linked list

[2022-10-09 09:45] SohamPashteSSP commented on #1011
Hello, can you assign me with this? I can add C program for converting Infix to Postfix and also for Evaluating Postfix expression

[2022-10-09 09:51] SohamPashteSSP opened #1024 "Circular Queue"
### Detailed description

In queue folder, I didn't saw a program for Circular Queue, hence I thought adding this will be of good use to reader since circular queue is an important modification of queue.

### Context

Users/Reader will get to know how circular queue is implemented.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-09 09:51] SohamPashteSSP commented on #1024
Hello, please assign me with task

[2022-10-09 14:10] aromalsanthosh commented on #1024
@SohamPashteSSP Can u assign me this ?

[2022-10-09 15:58] impragya08 commented on #1024
Hi,

I have not seen any implementation of Circular Queue in this repo.
Could you please assign this issue to me?

Regards,
Pragya

[2022-10-09 19:20] hussainiftikhar5242 commented on #1024
Hi @SohamPashteSSP  Can you assign this task to me, i want to contribute on it.

[2022-10-09 19:39] hussainiftikhar5242 commented on #1012
Can You please Assign it to me @rnavaneeth992 .

[2022-10-10 02:04] srusti610 commented on #1012
Sir,
can you please assign this to me.

[2022-10-10 02:06] srusti610 commented on #1011
sir,
can you assign this to me.

[2022-10-10 12:46] psrp7 commented on #1012
sir please assign me this i want to add c++ and java solution for this problem a brute force appraoch as well as best optimized approach

[2022-10-10 12:58] AyushCSE04 commented on #1011
Can You Assign this to me , this is my first contribution.

[2022-10-10 14:22] Saradwata-Bandyopadhyay opened #1029 "[FEATURE] Beginners friendly Array implementation"
### Detailed description

The code provided in the Array Repository can only be understood by advanced C users. I hereby propose a basic array implementation and performing some basic operations using the same array implementation.

### Context

This repository according to its description states that it consists of various Algorithms implementation using C language. But the code mentioned in the

[2022-10-10 14:22] Saradwata-Bandyopadhyay commented on #1029
Please assign this issue to me.

[2022-10-10 14:34] Saradwata-Bandyopadhyay opened #1030 "[FEATURE] Implement Linked list and its operations"
### Detailed description

A comprehensive code consisting of all the Linked List along with its operations is missing in this repository.

### Context

Linked List is a commonly used Data Structure. So a code consisting of all its implementations using functions would help in getting an better overview of this data structure and will also act as a reference for future use.

### Possible implementa

[2022-10-10 14:41] Saradwata-Bandyopadhyay commented on #1030
Please assign this issue to me.

[2022-10-12 06:46] tusharnain4578 commented on #1030
Please assign this to me, I will write fully documented code.

[2022-10-12 08:06] MoitreyoChak commented on #1030
Hey , I am interested in this task and would like to contribute to this issue.

[2022-10-12 08:23] MoitreyoChak commented on #1030
shall i create the Linked_List.c  file inside the data structure folder?

[2022-10-12 10:22] astitva0011 commented on #1029
!assign

[2022-10-12 14:57] Go3452 commented on #1011
sir , plz assign me this issue.

[2022-10-12 14:58] Go3452 commented on #1030
can you assign me this issue?

[2022-10-12 14:59] Go3452 commented on #1029
assign me this issue?

[2022-10-12 19:38] Emmastro commented on #1030
There are some functions on linked list on the data structure directory, though there are just very few implementations. I just opened a PR for inserting a node on a singly linked list on a particular index from https://github.com/TheAlgorithms/C/pull/1039

[2022-10-13 05:02] Vivek-04022001 commented on #1029
Hey, I'm interested in this issue. Can i contribute in it?

[2022-10-13 05:02] Vivek-04022001 commented on #1030
Hey, I'm interested in this issue. Can i contribute in it?

[2022-10-13 14:08] drashan14 commented on #1030
Hello sir,
I would like to do this task could you assign me this task.

[2022-10-14 09:12] gopal8220 commented on #1011
Please Assign it to me I want to add some good C programs to this issue.

[2022-10-16 06:05] Panquesito7 opened #1054 "[OTHER] Update all Discord links"
### What would you like to share?

We're using a new link for The Algorithms' Discord invitation.
All Discord invitation links should point to `https://the-algorithms.com/discord/`.

### Additional information

This is a good first issue. Please leave it open to first-time contributors and beginners. 🙂

[2022-10-16 17:54] abhople1902 commented on #1029
Hey, I'm interested in this issue and would like to contribute. Please assign me.

[2022-10-17 01:18] Meghwantsingh commented on #1012
New to leetcode but kindly assign this to me.

[2022-10-17 01:19] Meghwantsingh commented on #1011
Can you please assign me

[2022-10-17 06:37] akashissu commented on #1029
Please assign Me This Issue.

[2022-10-17 06:54] akashissu commented on #1012
Assign Me this Problem.

[2022-10-17 11:25] ritikal167 commented on #1054
Does this project fall under hactoberfest-2022 ?

[2022-10-17 11:33] konan625 commented on #1030
Hello sir, Can you assign this task to me?

[2022-10-17 18:54] icebergelectronics opened #1068 "8051"
### Detailed description

This is a set of libraries to abstract the registers of 8051 microcontroller in order to develop embedded applications with it .

### Context

This change could making  faster development and coding of  embedded application using 8051 .  Also prior knowledge of 8051 architecture is not required .

### Possible implementation

_No response_

### Additional information

_No

[2022-10-17 19:58] anuragsahay5 commented on #1012
Hello, Can you assign me Q2427.

[2022-10-18 00:48] Panquesito7 commented on #1054
Hello! The project itself does, however, this issue doesn't count for Hacktoberfest.

[2022-10-18 01:10] #1054 closed

[2022-10-18 04:19] aniket-varma commented on #1029
Please Assign me this issue

[2022-10-18 04:19] aniket-varma commented on #1030
Please assign me this task

[2022-10-18 04:20] aniket-varma commented on #1024
Please assign this issue to me

[2022-10-18 08:08] ZohaiAli commented on #1011
Hello sir!
please assign me this task. I am adding my C project to your account.

[2022-10-18 19:21] anuragsahay5 opened #1075 "Adding Leetcode Problem"
### Detailed description

I want to Add the LeetCode Problem No. 968 Binary Tree Cameras Hard.

### Context

It will help to understand how we can solve hard problems containing tree data structures.

### Possible implementation

Dynamic Programming
Depth First Search

### Additional information

_No response_

[2022-10-18 19:43] Panquesito7 commented on #1075
Thank you for your interest in contributing! 🎉
Before submitting a PR, please ensure the following:

- The algorithm/implementation isn't a duplicate in this repository.
- Make your code per the repository [standards](https://github.com/TheAlgorithms/C/blob/master/CONTRIBUTING.md).
- Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C/actions) pass.

[2022-10-19 15:11] ayushsinghh039 commented on #1029
Can you please assign this task to me?
Will be a great opportunity for me... I can add a lot many usable ARRAY functions for known and necessary algorithms.
Will be great!!!

[2022-10-19 15:20] ayushsinghh039 commented on #967
**This sounds intimidating !!**
This will be a great opportunity for me to contribute to this.  There are some changes that can be made in the conventional game.

- What if we give them the first letter already.
- This will make the game more engaging.
- If this works, we can also then give them one of the letters in between the words.

**Give me a chance to contribute to this !!**

[2022-10-20 03:30] kunjgit opened #1080 "i want to add morris traversal in binary tree"
### Detailed description

In this traversal, we first create links to Inorder successor and print the data using these links, and finally revert the changes to restore original tree.

### Context

it is really important to know it because it has asked in many interviews

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-20 03:37] kunjgit commented on #1080
i have already added it review it and let me know if any changes

[2022-10-21 08:30] codurr1 opened #1085 "I want to add Binary Exponentiation"
### Detailed description

Fastest Binary Exponentiation code with modulo

### Context

New Algorithm

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-21 08:32] codurr1 opened #1086 "Segment Tree Implementation"
### Detailed description

Iterative Segment Tree implementation, Easy to use and highly modifiable

### Context

Better Implementation

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-22 13:34] AnanyaBajpayi commented on #1030
Please assign this issue to me.

[2022-10-22 14:19] SwaggyRajput commented on #1011
Hello sir, Can u assign me this issue. I would love to grab this opportunity

[2022-10-22 14:22] SwaggyRajput commented on #1086
Hello sir, can u  assign me this issue. I would love to grab this opportunity.

[2022-10-22 14:24] SwaggyRajput commented on #1075
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 15:05] SwaggyRajput commented on #1030
Hello sir, can u assign me this issue. I would love to grab this opportunity.

[2022-10-22 16:42] mrdetective opened #1095 "Solution to the CSES Problem Set"
### Detailed description

I want to add a folder where you can find all the solutions of the famous CSES problem set

### Context

Implementation using C

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-23 08:24] ZohaiAli commented on #1024
Hi sir!
I already done this task please assign me this task then I can send the code

[2022-10-25 13:07] SourishJoshi8 commented on #1011
Hi, plz assign this to me

[2022-10-25 13:08] SourishJoshi8 commented on #1012
hi,
i would like to try this,
plz assign to me

[2022-10-25 13:10] SourishJoshi8 commented on #1029
hey,
i would like to work on this,
plz assign it to me

[2022-10-25 23:57] ShreyaGupta12 commented on #1095
Hello sir, Please assign this issue to me.

[2022-10-27 05:41] satvik202 opened #1112 "I want to add leetcode problem #75"
### Adding leetcode problem 75

problem link : https://leetcode.com/problems/sort-colors/

problem type: medium

using concept: Arrays, Sorting.

### Additional information

_No response_

[2022-10-27 14:46] 12manisha commented on #1011
can you assign it to me? i would like to work in it

[2022-10-28 06:59] icebergelectronics opened #1116 "Add 8051-HAL Layer"
### Detailed description

Hardware Abstraction Layer (HAL) is an API ( Application Programming  interface ) to any microcontroller . This is the HAL layer for 8051 microcontroller

### Context

This would help us too abstract the internal structure and architecture of 8051 microcontroller during the de4velopment process of any applications on 8051 . Also It makes it easy to implement  C algorithms

[2022-10-28 07:00] #1068 closed

[2022-10-28 16:09] SnehalSa commented on #1112
Hello Sir,
Can You assign this issue to me?

[2022-10-29 01:18] Panquesito7 commented on #956
@ybrenning, are you still willing to work on this? Thanks.

[2022-10-29 05:43] v1shant commented on #1112
Hii Satvik,
Could you assign me this issue?

[2022-10-29 10:52] 11nitis commented on #1112
hey!
can you assign this task to me this is my first time at hactoberfest if you assign this this will be baby step for me to contribute in open source community.
thank  you..

[2022-10-30 04:05] v1shant opened #1126 "Adding the 4-sum problem"
### Detailed description

I want to add the 4Sum problem from leetcode.
https://leetcode.com/problems/4sum/

### Context

It an important 2-pointer question and is present in lots of placement sheets

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-30 11:57] shlokam commented on #1126
@v1shant Can you assign this to me?

[2022-11-01 09:11] glass2300 opened #1130 "I want to add quick-select"
### Detailed description

I want to add quick-select algorithm

### Context

new algorithm

### Possible implementation

_No response_

### Additional information

_No response_

[2022-11-12 00:27] #943 closed

[2022-11-18 10:54] kanghyejong1001 opened #1149 "Add NumberBaseball Game"
### Detailed description

I want to add C program file of NumberBaseball Game in Games.

This game is a game that matches randomly generated three digits against a computer.

### Context

New Game

It is a game that can be made using only basic grammar such as conditional sentences and repetitive sentences, and I think I can develop my skills by writing code at my current level.

### Possible impl

[2022-11-19 18:14] QubitMatrix opened #1151 "Suffix trie for substring matching"
### What would you like to share?

C code for substring matching and other substring related functions using suffix trie

### Additional information

_No response_

[2022-11-24 04:16] Panquesito7 commented on #1149
Hello, thank you for your interest! Sounds very interesting to me. @tjgurwara99, @appgurueu, what do you think about this?

[2022-11-24 04:37] Panquesito7 commented on #1075
@anuragsahay5, do you still want to work on this?

[2022-11-24 09:34] appgurueu commented on #1149
Sounds like a trivial "guess the number" variant, not sure whether it'd add much value to the algo repo.

[2022-11-24 21:24] tjgurwara99 commented on #1149
It is an interesting idea 😄 however I agree with @appgurueu on this that this would be a trivial guessing game without adding the kind of value that we want contributions to provide in this repository 😓

Maybe consider adding some other algorithm, we're always happy to discuss new ideas 😄

[2022-11-25 05:29] Panquesito7 opened #1161 "[OTHER] Add `process_scheduling_algorithms` to CMake"
### What would you like to share?

All folders should be included in the CMake file to run the tests properly and make sure the code fits our standards.
This new folder, which is named `process_scheduling_algorithms`, isn't added to CMakeLists and should be added as soon as possible.

### Steps to contribute

_If you've already forked the repository, skip to step 3_

1. Fork the repository [**here

[2022-11-25 07:21] kanghyejong1001 commented on #1149
I see. Thank you for reply.

[2022-11-28 00:22] #1080 closed

[2022-11-29 00:24] #1085 closed